*{
    margin: 5px;
    padding: 0;

}
main{
    
color: aliceblue;
font-size: 30px;
width: 100%;
font-family: monospace;
text-transform: uppercase;
display: grid;
grid-template-rows: 50px 150px 150px 50px;
grid-template-columns: repeat(4,1fr) 100px;
text-align: center;
justify-content: center;

}



 .div1{
    background: #000;
    grid-column: 1/-1;
 }
 .div2{
    background: rgb(214, 136, 136);
 }
 .div3{
    background: rgb(233, 186, 84);
 }
 .div4{
    background: rgb(61, 156, 109);
 }
 .div5{
    background: rgb(51, 192, 192);
 }
 .div6{
    background: rgb(23, 8, 158);
    font-size: 20px;
    grid-row: 2/4;
    grid-column: 5/6;
 }
 .div7{
    background: rgb(255, 0, 200);
    grid-column: 1/5;
 }
 .div8{
    background: rgb(138, 82, 119);
    grid-column: 1/-1;
 }


